[submodule "Pacman"]
	path = Pacman
	url = https://github.com/sunghogo/Pacman
[submodule "FlappyBird"]
	path = FlappyBird
	url = https://github.com/sunghogo/FlappyBird.git
[submodule "Snake"]
	path = Snake
	url = https://github.com/sunghogo/Snake.git
[submodule "Breakout"]
	path = Breakout
	url = https://github.com/sunghogo/Breakout.git
[submodule "GeometryWars"]
	path = GeometryWars
	url = https://github.com/sunghogo/GeometryWars.git
[submodule "DungeonCrawler"]
	path = DungeonCrawler
	url = https://github.com/sunghogo/DungeonCrawler.git
[submodule "MatchThree"]
	path = MatchThree
	url = https://github.com/sunghogo/MatchThree.git
